.bash_history
.cache/
.config/dconf/
.config/gtk-3.0/
.config/net.imput.helium/*
!.config/net.imput.helium/Default/
.config/net.imput.helium/Default/*
!.config/net.imput.helium/Default/Preferences
!.config/net.imput.helium/Dictionaries/
!.config/net.imput.helium/Local State
.config/pulse/
.config/VSCodium/*
!.config/VSCodium/Dictionaries/
!.config/VSCodium/Preferences
!.config/VSCodium/User/
.config/VSCodium/User/*
!.config/VSCodium/User/snippets/
!.config/VSCodium/User/settings.json
.config/yay/
.dotfiles/
.gitconfig
.local/*
!.local/bin/
.vscode-oss*