.bash_history
.cache/
.config/coordinates
.config/dconf/
.config/gtk-3.0/
.config/net.imput.helium/
.config/pulse/
.config/VSCodium/*
!.config/VSCodium/Preferences
!.config/VSCodium/User/
.config/VSCodium/User/*
!.config/VSCodium/User/snippets/
!.config/VSCodium/User/settings.json
.config/yay/
.dotfiles/
.gitconfig
.local/*
!.local/bin/
.vscode-oss*
desktop/
documents/
downloads/
music/
pictures/
projects/
public/
templates/
videos/